body {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 300px;
    margin: auto;
}

#todo h1{
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    padding: 16px 0;
}

#qpp li{
    line-height: 1.5;
}

#qpp input[type="text"] {
    padding: 2px;
}

.command {
    font-size: 12px;
    cursor: pointer;
    color: blue;
}

#app ul{
    padding: 0;
    list-style: none;
}

.done {
    text-decoration: line-through;
    color: #bbb;
}

.info {
    color: #bbb;
    font-size: 12px;
    font-weight: normal;
}

#app h1 > button {
    float: right;
}
