/* 全体のスタイル */

body {
    background:  #ccc;
    color: #fff;
    font-family: 'Courier New', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

/*
パネルそれぞれに白を持たせつつ 50px 、それに加えてボードの両側の padding を 10px
 */
#container {
    /* 50px * 2 10px *2 */
    width: 120px;
    margin: 16px auto;
}

#board{
    list-style: none;
    margin: 0 0 8px;
    padding: 10px;
    background: white;
    border-radius: 4px;
}

#board li {
    background: #00aaff;
    width:  40px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
    line-height: 40px;
    text-align: center;
    box-shadow: 0 4px 0 #0088cc;
}

#timer {
    margin-bottom: 8px;
    font-size: 20px;
    text-align: right;
}
