<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Vue.js App</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <p>Vue.jsの勉強</p>
    <div id="app">
        <!--  {{ }}で呼び出す -->
        <!-- <p> Hello {{ name }}! </p> -->
        <p> Hello {{ name.toUpperCase() }}! </p>
        <p>
            <input type="text" v-model="name">
        </p>
    </div>

    <div id="todo">
        <h1>Todoリスト</h1>
        <ul>
            <li v-for="(todo, index) in todos">
                <!-- v-model に対して todo.isDone を紐づけてあげると、 isDone が true のときにはチェックする -->
                <!-- ちなみにHTMLだと、checked="checked"でチェック済みにする -->
                <input type="checkbox" v-model="todo.isDone">
                <!-- todo の isDone が true の場合は、 done クラスを付ける -->
                <!-- <span v-bind:class="{done: todo.isDone}"> -->
                <span :class="{done:todo.isDone}">
                        {{ todo.title }}
                </span>
                <span @click="deleteItem(index)" class="command">[x]</span>
            </li>
        </ul>
        <form @submit.prevent="addItem" >
            <input type="text" v-model="newItem">
            <input type="submit" value="Todo リストを加える">
        </form>
    </div>

    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./js/mian.js"></script>
    <script src="./js/todo.js"></script>
</body>

</html>
