<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Vue.js App</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
<p>Vue.jsの勉強</p>
<div id="app">
    <!--  {{ }}で呼び出す -->
    <!-- <p> Hello {{ name }}! </p> -->
    <p> Hello {{ name.toUpperCase() }}! </p>
    <p><input type="text" v-model="name"></p>
</div>

<p>Todoリスト</p>
<div id="todo">
<ul>
    <li v-for="todo in todos">
        {{ todo }}
    </li>
</ul>
<form>
    <input type="text">
    <input type="submit" value="Todo リストを加える">
</form>
</div>

<!-- vue.js -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="./js/mian.js"></script>
<script src="./js/todo.js"></script>
</body>
</html>
