body
{
    display: flex;
    flex-wrap: wrap;
}
.box{
    width: 100px;
    height: 100px;
    background-color: skyblue;
    cursor: pointer;
    transition: 0.8s;
    margin: 0 8px 8px 0;
    text-align: center;
    line-height: 100px;
}

.circle {
    background-color: pink;
    border-radius: 50%;
    transform: rotate(360deg);
}
